<% if @current_user %>
  <ul class="nav pull-right">
    <li><a id="new-topic-button" href="#new-topic-dialog" data-toggle="modal" style="outline: none;"><%= t '.new_topic' %></a></li>
  </ul>
<% end %>
