<% if @current_user %>
  <ul class="nav pull-right">
    <% unless @topic.no_reply %>
      <li><a id="reply-topic-button" href="#reply-topic-dialog" data-toggle="modal" style="outline: none;">
        <%= t '.reply' %>
      </a></li>
    <% end %>
    <% if @topic.problem %>
      <li>
        <a style="outline: none;" target="_blank" href="<%= problems_show_path @topic.problem.id %>">
          <%= t '.view_problem' %>
        </a>
      </li>
    <% end %>
  </ul>
<% end %>
