<ul class="nav pull-right">
  <% if admin? %>
    <li>
      <a id="new-problem-button" href="#new-problem-dialog" data-toggle="modal" style="outline: none;"><%= t '.add_problem' %></a>
    </li>
  <% end %>
  <% if Tag.count > 0 %>
    <li>
      <a id="filter-button" href="#filter-dialog" data-toggle="modal" style="outline: none;"><%= t '.filter' %></a>
    </li>
  <% end %>
</ul>
