<div style="width: 75%; margin: 0 auto;">

  <div class="item">
    <div class="title">

    </div>
    <div class="content">
      <p>

      </p>
    </div>
  </div>

</div>

<div class="item hidden">
  <div class="title">

  </div>
  <div class="content">
    <p>

    </p>
  </div>
</div>
