<div>
  HTTP_VIA: <%= request.env['HTTP_VIA'] %>
</div>
<div>
  HTTP_X_FORWARDED_FOR: <%= request.env['HTTP_X_FORWARDED_FOR'] %>
</div>
<div>
  REMOTE_ADDR: <%= request.env['REMOTE_ADDR'] %>
</div>
<div>
  remote_ip: <%= request.remote_ip %>
</div>