.faq .show {
  .item {
    margin-bottom: 20px;
    .title {
      font-size: 20px;
      font-weight: bold;
      font-family: "Segoe UI", "Helvetica Neue", Helvetica, Arial, "Microsoft YaHei", SimHei, sans-serif;
    }
    .operation {
      float: right;
      margin-right: 5px;
      margin-top: 1px;
    }
  }
}
